html,
body {
	background-color: rgb(32, 24, 24);
	color: rgb(187, 192, 192);
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

label {
	display: block;
}

.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: grid;

	grid-template-areas:
		"header header"
		"menu menu"
		"sidebar content"
		"footer footer";

	grid-template-rows: 70px 0 2fr 40px;
	grid-template-columns: 1fr 6fr;
}

#page-header,
#page-footer {
	background-color: rgb(24, 16, 16);
	color: rgb(187, 192, 192);
	margin: 0;
	padding: 0;
}

#page-header {
	grid-area: header;
	padding-left: 20px;
	display: flex;
	/* enable vertical center */
	align-items: center;
	/* vertical centering */
}

#page-footer {
	grid-area: footer;
	text-align: center;
	height: 40px !important;
	background-color: rgb(24, 16, 16);

	p {
		margin-block-start: .5em;
		margin-block-end: 0;
	}
}

#content {
	grid-area: content;
	padding: 2em;
	overflow: auto;
}

#sidebar {
	grid-area: sidebar;
	background-color: rgb(24, 16, 16);
	padding: 10px;
}

nav#main-menu {
	grid-area: menu;
	background-color: rgb(24, 16, 16);
	;
	color: rgb(187, 192, 192);
}

nav#main-menu>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.menu-item {
	padding: 10px;
	font-weight: 600;
}

.menu-item>a {
	color: rgb(187, 192, 192);
	text-decoration: none;
}

.menu-item>a:hover {
	text-decoration: underline;
}

.folder-icon {
	background-color: black;
	width: 200px;
	max-width: 200px;
	min-width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	margin: 10px;
}

.folder-icon>.header {
	height: 23px;
	background-color: transparent;
	border-radius: 15px 15px 0 0
}

.folder-icon>.content {
	height: 154px;
	background-color: transparent;
}

.folder-icon>.footer {
	height: 23px;
	background-color: transparent;
	border-radius: 0 0 15px 15px;
	font-style: regular;
	font-size: 12px;
	text-decoration: none;
	color: rgb(128, 128, 128);
	margin-top: 3px;
	color: #ccc;
}

.user-card {
	width: 200px;
	height: 120px;
	background-color: rgb(24, 16, 16);
	position: relative;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin: 16px;
	text-align: center;
	overflow: hidden;
}

.album-card {
	width: 200px;
	height: 180px;
	background-color: rgb(24, 16, 16);
	position: relative;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin: 16px;
	text-align: center;
	overflow: hidden;
}


.album-card>header,
.user-card>header {
	width: 100%;
	height: 25px;
	padding: 4px 50px 0 10px;

	border-radius: 15px 15px 0 0;
	background-color: rgb(24, 16, 16);
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.album-card>header {
	background-color: rgb(24, 16, 16);
}

.album-card>header>div,
.user-card>header>div {
	text-overflow: ellipsis;
	overflow: hidden;
}


.user-card>article {
	background-color: rgb(40, 32, 32);
	width: 100%;
	height: 64px;
	padding-top: 4px;
	overflow: hidden;
	padding: 3px 10px;
}

.user-card>footer {
	width: 100%;
	padding-top: 4px;

	border-radius: 0 0 15px 15px;
	background-color: rgb(24, 16, 16);
}

.album-card>article {
	background-color: rgb(63, 0, 0);
	width: 100%;
	height: 130px;
}

.album-card>footer {
	width: 100%;
	padding-top: 4px;

	border-radius: 0 0 15px 15px;
	background-color: rgb(24, 16, 16);
}

.card-item {
	max-width: 200px;
	max-height: 23px;
	overflow: hidden;
	display: flex;
	align-items: center;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.card-item i {
	margin-right: 10px;
	color: #ccc;
}

.card-item i:hover {
	color: white;
}

a.invisi-a {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
	z-index: 10000
}

.header-content {
	width: 100vh !important;
	min-width: 1024px;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	height: 100%;
}

.header-content>i {
	vertical-align: middle;
	text-align: center;
	margin-right: 30px;
	font-size: 36px;
	margin-top: 10px;
}

.header-content>h1 {
	vertical-align: middle;
	margin-top: 12px;
}