package views

import (
    "github.com/tabinnorway/stupebilder/models"
    "github.com/tabinnorway/stupebilder/components"
)

templ Folders(album *models.Album, folders *[]models.Folder) {
	@Page(album, nil) {
		for _, folder := range *folders {
            @components.FolderTile(album, &folder)
		}
	}
}