{{ define "content" }}
<div style="display: flex;flex-flow: row wrap; justify-content: space-around;">
    {{range .Files}}
    <a href="/images/{{$.Album}}/{{$.Folder}}/{{.Name}}">
        <div class="folder-icon">
            <div class="header"></div>
            <div class="content" style="background-image: url('/thumbs/{{$.Album}}/{{$.Folder}}/{{.Name}}');background-size: cover;">
            </div>
            <div class="footer">
                {{.Name}}
            </div>
        </div>
    </a>
    {{end}}
</div>
{{end}}

{{ define "pageHeader" }}
<div style="cursor: pointer;" onclick="clickedDownload( '{{.Album}}', '{{.Folder}}')">
    <i class="material-icons" title="Last ned alle bildene" style="color:#c2c2c2;">download</i>
</div>
{{end}}