{{ define "content" }}
<div style="display: flex;flex-flow: row wrap; justify-content: space-around;">
    {{range .Files}}
    <a href="{{$.Album}}/{{.Name}}">
        <div class="folder-icon">
            <div class="header" style="color: white; font-weight: bold;">{{.Name}}</div>
            <div class="content" style="background-image: url('/thumbs/{{$.Album}}/{{.Name}}');background-size: cover;background-position: top;">
            </div>
            <div class="footer">
            </div>
        </div>
    </a>
    {{end}}
</div>
{{end}}

{{ define "pageHeader" }}
{{end}}